
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy

[submodule "slides"]
	path = static/presentations/slides
	url = https://github.com/rosenpass/slides
[submodule "static/presentations/slides"]
	path = static/presentations/slides
	url = https://github.com/rosenpass/slides
