[submodule "static/presentations/slides"]
	path = static/presentations/slides
	url = git@github.com:rosenpass/slides
[submodule "submodules/rosenpass"]
	path = submodules/rosenpass
	url = git@github.com:rosenpass/rosenpass
[submodule "themes/docsy"]
	path = themes/docsy
	url = git@github.com:google/docsy
