baseURL = 'https://rosenpass.eu'
languageCode = 'en-us'
title = 'Rosenpass'
theme = "docsy"
time_format_default = "02.01.2006"

# Language settings
contentDir = "content/en"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

enableRobotsTXT = true

[module]
  hugoVersion.extended = true
  hugoVersion.min = "0.110.0"
  _merge = "override"

  # Override Docsy's YAML
  [[module.mounts]]
    source = "assets"
    target = "assets"

  [[module.mounts]]
    source = "node_modules/bootstrap"
    target = "assets/vendor/bootstrap"

  [[module.mounts]]
    source = "node_modules/@fortawesome/fontawesome-free"
    target = "assets/vendor/Font-Awesome"

  [[module.mounts]]
    source = "i18n"
    target = "i18n"

  [[module.mounts]]
    source = "layouts"
    target = "layouts"

  [[module.mounts]]
    source = "static"
    target = "static"

  [[module.mounts]]
    source = "node_modules/@fortawesome/fontawesome-free/webfonts"
    target = "static/webfonts"

  # Additional mounts for projects using Docsy as an NPM package
  [[module.mounts]]
    source = "../../node_modules/bootstrap"
    target = "assets/vendor/bootstrap"

  [[module.mounts]]
    source = "../../node_modules/@fortawesome/fontawesome-free"
    target = "assets/vendor/Font-Awesome"

  [[module.mounts]]
    source = "../../node_modules/@fortawesome/fontawesome-free/webfonts"
    target = "static/webfonts"

  # Mounts for module installations, to work around known bugs
  [[module.mounts]]
    source = "assets/_vendor/bootstrap/scss"
    target = "assets/vendor/bootstrap/scss/vendor"

  [[module.mounts]]
    source = "assets/_vendor/bootstrap/dist"
    target = "assets/vendor/bootstrap/dist"

  # Imports defined in the docsy theme's hugo.yaml
  
  [[module.imports]]
    path = "./github.com/twbs/bootstrap"
    disable = false

    [[module.imports.mounts]]
      source = "scss"
      target = "assets/vendor/bootstrap/scss"

    [[module.imports.mounts]]
      source = "dist/js"
      target = "assets/vendor/bootstrap/dist/js"

  [[module.imports]]
    path = "./github.com/FortAwesome/Font-Awesome"
    disable = false

    [[module.imports.mounts]]
      source = "scss"
      target = "assets/vendor/Font-Awesome/scss"

    [[module.imports.mounts]]
      source = "webfonts"
      target = "static/webfonts"

# Normal Site Configuration

[params]
  time_format_blog = "Monday, January 02, 2006"
  time_format_default = "January 2, 2006"
  rss_sections = ["blog"]
  offlineSearch = true

[outputFormats]
  [outputFormats.PRINT]
    baseName = "index"
    isHTML = true
    mediaType = "text/html"
    path = "_print"
    permalinkable = false

[languages]
  [languages.en]
    title = "Rosenpass"
    languageName = "English"
    weight = 1
    [languages.en.params]
      description = "Build post-quantum-secure VPNs with WireGuard!"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
      hardWraps = true

  [markup.highlight]
    style = "tango"
    # Uncomment if you want your chosen highlight style used for code blocks without a specified language
    # guessSyntax = "true"
    noClasses = "false"

[menu]
  [[menu.main]]
    name = "Quick Start"
    weight = 15
    url = "/docs/rosenpass-tool/start"

  [[menu.main]]
    name = "What is Rosenpass?"
    weight = 16
    url = "/#what-is-rosenpass"

[outputs]
  section = ["HTML"]

[params.ui]
  breadcrumb_disable = false
  footer_about_disable = true
  navbar_logo = true
  navbar_translucent_over_cover_disable = false
  sidebar_menu_compact = false
  sidebar_menu_foldable = true
  ul_show = 3
  sidebar_search_disable = true
  showLightDarkModeMenu = true
