@font-face {
  font-family: "Bluenesia";
  src: url("/fonts/Bluenesia/Bluenesia.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 700;
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  src: url("/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 700;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url("/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
}

/* ADHD Spacing */

ol {
  margin-top: 15px !important;
  margin-bottom: 10px !important;
}

ul {
  margin-top: 15px !important ;
}

.starter-code-server pre {
  margin-bottom: 0 !important;
}

.starter-code-server pre p {
  color: #f70484 !important;
  display: inline;
  font-weight: bold;
}

.starter-code-client pre p {
  color: #f0ad4e !important;
  display: inline;
  font-weight: bold;
}

.starter-code-server div {
  margin-bottom: 5px !important;
}

#set-up-rosenpass-keys {
  margin-top: 20px;
}

html.no-js
  body.td-home
  div#menuToggle
  div#mainPage.container-fluid.td-default.td-outer
  main.td-main
  section.row.td-box.td-box--light.td-box--gradient.td-box--height-auto
  div.col
  div.row
  p {
  margin-top: 10px;
}

/* NAVIGATION */

@media (min-width: 768px) {
}

.td-navbar {
  background: #fff;
}

.navbar-brand {
  font-size: 1.75rem;
}

.td-navbar .navbar-logo {
}

.td-navbar .navbar-brand {
  margin-bottom: -10px;
}
.td-navbar .navbar-brand svg {
  height: 40px;
  width: 40px;
  position: relative;
  top: -10px;
}

.td-navbar .navbar-brand__name {
  font-family: "Bluenesia";
  font-weight: normal;
}
.td-navbar .nav-item {
  padding: 0 10px;
}
.td-navbar .nav-link {
  text-shadow: none;
}

.navbar-bg-onscroll {
  background: #fff !important;
  opacity: inherit;
}

/* MAIN COVER */

.td-cover-block .td-cover-logo {
  margin: 0 15%;
}

@media (min-width: 992px) {
  .td-cover-block .td-cover-logo {
    margin: 0 35%;
  }
}

.td-cover-block .subtitle {
  margin-bottom: 3rem;
  font-weight: bolder;
  font-style: italic;
}

.td-cover-block .rp-buttonrow a.btn {
  margin: 0 7px;
  width: 11em;
  font-size: 18px;
}

.td-cover-block .fa-circle-chevron-down {
  font-size: 300% !important;
}

.td-cover-block .whatis {
  font-size: 1rem;
  margin-bottom: 3rem;
  font-weight: bolder;
}

.td-block-padding,
.td-default main section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about section .row {
  display: block;
}

.link-collection {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.link-block {
  color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}

.link-block:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .link-collection {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2%;
    width: 100%;
  }
}

/* Contributors Page*/

#main-contributors {
  padding-top: 20px;
}

#main-contributors section.member {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bs-white);
}

#main-contributors section.member:nth-child(even) {
  background-color: var(--bs-light);
}

#main-contributors .contribution {
  text-align: center;
  width: 100%;
  font-weight: bold;
}
#main-contributors .infoblock {
  text-align: center;
}
#main-contributors .infoblock p {
  margin: 5px 0;
}

@media (min-width: 768px) {
  #main-contributors .contribution {
    text-align: right;
    width: 30%;
    padding: 20px 0;
  }
  #main-contributors .infoblock {
    width: 30%;
    text-align: left;
  }
  #main-contributors section.member {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#main-contributors .github-pic {
  width: 120px;
  height: 120px;
  margin: 25px;
  padding: 0;
  border-radius: 50%;
}

#main-contributors .td-box .row {
  align-items: center;
  justify-content: center;
}

img.rp-supporter {
  padding: 20px;
  max-width: 300px;
}

/* small adjustments */

pre {
  padding: 10px;
  line-height: 1.8;
}

code {
  font-size-adjust: 0.56;
}