<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog {{- with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none " id="sidebar-blog">
            {{ partial "sidebar-blog.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xxl-8 ps-md-5 pe-md-4" role="main">
            {{ with .CurrentSection.OutputFormats.Get "rss" -}}
            <a class="td-rss-button" title="RSS" href="{{ .Permalink | safeURL }}" target="_blank" rel="noopener">
              <i class="fa-solid fa-rss" aria-hidden="true"></i>
            </a>
            {{ end -}}
            {{ block "main" . }}{{ end }}
          </main>
          <div class="col-xxl-4"></div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
    <script>
      const toggleButton = document.querySelector('.td-sidebar__toggle');
      const targetCollapse = document.querySelector('#td-section-nav');
      toggleButton.addEventListener('click', function () {
        $(targetCollapse).collapse('toggle');
      });
    </script>
  </body>
</html>