<div class="link-collection">
  <a class="link-block btn btn-light"
     href="#-im-five"
	 data-bs-toggle="collapse"
     data-bs-target="#collapseOne"
     aria-expanded="false"
     aria-controls="collapseOne"
     onclick="document.getElementById('-im-five').scrollIntoView({ behavior: 'smooth' });">
    Explain it like I'm five!
  </a>

  <a class="link-block btn btn-secondary"
     href="#-im-a-tech-journalist"
	 data-bs-toggle="collapse"
     data-bs-target="#collapseTwo"
     aria-expanded="false"
     aria-controls="collapseTwo"
     onclick="document.getElementById('-im-a-tech-journalist').scrollIntoView({ behavior: 'smooth' });">
    … a tech journalist!
  </a>

  <a class="link-block btn btn-primary"
     href="#-im-a-developer"
	 data-bs-toggle="collapse"
     data-bs-target="#collapseThree"
     aria-expanded="false"
     aria-controls="collapseThree"
     onclick="document.getElementById('-im-a-developer').scrollIntoView({ behavior: 'smooth' });">
    … a developer!
  </a>

  <a class="link-block btn btn-dark"
     href="#-im-a-cryptographer"
     data-bs-toggle="collapse"
     data-bs-target="#collapseFour"
     aria-expanded="false"
     aria-controls="collapseFour"
     onclick="document.getElementById('-im-a-cryptographer').scrollIntoView({ behavior: 'smooth' });">
    … a cryptographer!
  </a>
</div>
