{{ $src1 := .Get "src1" }}
{{ $src2 := .Get "src2" }}
{{ $src3 := .Get "src3" }}

{{ $alt1 := .Get "alt1" }}
{{ $alt2 := .Get "alt2" }}
{{ $alt3 := .Get "alt3" }}

{{ $path := "img/about/" }}

<section class="eli5-images td-box td-box--white " >

		{{ with .Get "src1" }} 
			<img class="eli5-image col" src="{{ $src1 | absURL  }}" alt="{{ $alt1 }}" />
		{{ end }}
		
		{{ with .Get "src2" }} 
			<img class="eli5-image col" src="{{ $src2 | absURL  }}" alt="{{ $alt2 }}" />
		{{ end }}
		
		{{ with .Get "src3" }} 
			<img class="eli5-image col" src="{{ $src3 | absURL  }}" alt="{{ $alt3 }}" />
		{{ end }}

</section>
