
{{ $p := .Page }}
{{ $activeCanvas := false }}
{{ $compTitle := "Rosenpass "}}
  {{ if or (gt $p.Ancestors 1) (gt $p.Pages 0) }} 
    {{ if gt $p.Pages 0 }}
      {{ $compTitle = $p.Title }}
      {{ if eq $compTitle "Rosenpass"}}
        {{ $activeCanvas = true }}
      {{ end }}
    {{ else }}
      {{ with $p.Parent }}
        {{ $compTitle = .Title }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $activeCanvas = true }}
  {{ end }}

  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="mobileNavMenu" data-bs-target="#mobileNavMenu-Active" aria-controls="mobileNavMenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
 </div>
</nav>

<div class="mobileNav mobileNav-end" tabindex="-1" id="mobileNavMenu{{ if $activeCanvas }}-Active{{ end }}" aria-labelledby="offcanvasRightLabel">
    <div class="mobileNav-header mobileNav-home">
      <a href="/" class="{{ if eq $p.RelPermalink "/" }}active-mobile{{ end }}"><h5 id="offcanvasRightLabel">Rosenpass</h5></a>
      <button type="button" class="mobileNavMenu" data-bs-dismiss="mobileNavMenu" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="mobileNav-body">
      <ul>
        {{ $activeCanvas = false }}
        {{ range .Site.Menus.main }}
          {{ if eq .Title .Name }}
            {{ $menuTitle := .Name }}
              {{ range $p.Site.Pages }}
                {{ if eq .Title $menuTitle }}
{{/* First layer Offcanvas */}}
                  {{ if .Pages }}
                  {{ $canvasID := replace .LinkTitle " " "" }}
                  {{ if eq $compTitle $menuTitle }}
                    {{ $activeCanvas = true }}
                  {{ end }}
                  <li class="mobileNav-li">
                    <button class="btn btn-primary mobileNav-next{{ if $p.IsDescendant .}} active-mobile{{ end }}" type="button" data-bs-toggle="mobileNavMenu" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{ else }}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu">
                      <i class="fa-solid fa-chevron-right"></i>
                      <span>{{ $menuTitle }}</span>
                      <p>{{ .Params.Menu.Main.Params.ShortBlerb }}</p>
                    </button>
                  </li>
{{/* Second layer Offcanvas */}}
                  <div class="mobileNav mobileNav-end" tabindex="-1" id="mobileNavMenu-{{ if $activeCanvas }}Active{{ else }}{{ $canvasID }}{{ end }}" aria-labelledby="offcanvasRightLabel">
                    <div class="row d-flex">
                      <h5 class="mobileNav-breadcrumb"><a href="/" class="unstyled-link">Rosenpass</a>/</h5>
                    </div>
                    <div class="mobileNav-header">
                      <button class="btn btn-primary mobileNav-back" type="button" data-bs-toggle="mobileNavMenu-back" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{ else }}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu"><i class="fa-solid fa-chevron-left"></i></button>
                      <h5 id="offcanvasRightLabel"><a href="{{ .RelPermalink }}" class="{{ if eq .Title $p.Title }}active-mobile{{ end }}">{{ .Title }}</a></h5>
                      <button type="button" class="mobileNavMenu" data-bs-dismiss="mobileNavMenu" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="mobileNav-body">
                    <ul>
                      {{ $activeCanvas = false }}
                      {{ range .Pages }}
                      {{ $active := eq . $p -}}
                        {{ if .Pages }}
                          {{ $canvasID := replace .LinkTitle " " "" }}
                            {{ if eq $compTitle .Title }}
                              {{ $activeCanvas = true }}
                            {{ end }}
                          <li class="mobileNav-li">
                            <button class="btn btn-primary mobileNav-next{{ if $p.IsDescendant .}} active-mobile{{ end }}" type="button" data-bs-toggle="mobileNavMenu" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{else}}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu">
                              <i class="fa-solid fa-chevron-right"></i>
                              <span>{{ .Title }}</span>
                              <p>{{ .Params.Shortblerb }}</p>
                            </button>
                            {{ if $active -}}
                            {{ if not .Params.notoc -}}
                                  <div class="td-toc blog-toc">
                                    {{ .TableOfContents }}
                                  </div>
                            {{ end -}}
                          {{ end }}
                          
                          </li>
{{/* Third layer Offcanvas*/}}
                          <div class="mobileNav mobileNav-end" tabindex="-1" id="mobileNavMenu-{{ if $activeCanvas }}Active{{else}}{{ $canvasID }}{{ end }}" aria-labelledby="offcanvasRightLabel">
                            <div class="row d-flex">
                              <h5 class="mobileNav-breadcrumb"><a href="/" class="unstyled-link">Rosenpass</a>/<a href="{{ .Parent.RelPermalink }}" class="unstyled-link">{{ .Parent.Title }}</a>/</h5>
                            </div>
                            <div class="mobileNav-header">
                              <button class="btn btn-primary mobileNav-back" type="button" data-bs-toggle="mobileNavMenu-back" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{else}}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu"><i class="fa-solid fa-chevron-left"></i></button>
                              <h5 id="offcanvasRightLabel"><a href="{{ .RelPermalink }}" class="{{ if eq .Title $p.Title }}active-mobile{{ end }}">{{ .Title }}</a></h5>
                              <button type="button" class="mobileNavMenu" data-bs-dismiss="mobileNavMenu" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <div class="mobileNav-body">
                            <ul>
                              {{ $activeCanvas = false }}
                              {{ range.Pages }}
                              {{ $canvasID := replace .LinkTitle " " "" }}
                              {{ if eq $compTitle .Title }}
                                {{ $activeCanvas = true }}
                              {{ end }}
                              {{ $active := eq . $p -}}
                                  {{ if .Pages }}
                                    <li class="mobileNav-li">
                                      <button class="btn btn-primary mobileNav-next{{ if $p.IsDescendant .}} active-mobile{{ end }}" type="button" data-bs-toggle="mobileNavMenu" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{ else }}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu">
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <span>{{ .Title }}</span>
                                        <p>{{ .Params.Shortblerb }}</p>
                                      </button>
                                    </li>
{{/* Fourth Layer Offcanvas */}}
                                    <div class="mobileNav mobileNav-end" tabindex="-1" id="mobileNavMenu-{{ if $activeCanvas}}Active{{ else }}{{ $canvasID }}{{ end }}" aria-labelledby="offcanvasRightLabel">
                                      <div class="row d-flex">
                                        <h5 class="mobileNav-breadcrumb"><a href="/" class="unstyled-link">Rosenpass</a>/<a href="{{.Parent.Parent.RelPermalink }}" class="unstyled-link">{{ .Parent.Parent.Title }}</a>/<a href="{{ .Parent.RelPermalink }}" class="unstyled-link">{{ .Parent.Title }}</a>/</h5>                                      </div>
                                      <div class="mobileNav-header">
                                        <button class="btn btn-primary mobileNav-back" type="button" data-bs-toggle="mobileNavMenu-back" data-bs-target="#mobileNavMenu-{{ if $activeCanvas }}Active{{else}}{{ $canvasID }}{{ end }}" aria-controls="mobileNavMenu"><i class="fa-solid fa-chevron-left"></i></button>
                                        <h5 id="offcanvasRightLabel"><a href="{{ .RelPermalink }}" class="{{ if eq .Title $p.Title }}active-mobile{{ end }}">{{ .Title }}</a></h5>
                                        <button type="button" class="mobileNavMenu" data-bs-dismiss="mobileNavMenu" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                      </div>
                                      <div class="mobileNav-body">
                                        <ul>
                                          {{ $activeCanvas = false }}
                                          {{ range .Pages }}
                                          <li class="mobileNav-li">
                                            <a href="{{ .RelPermalink }}" class="{{ if eq .Title $p.Title }}active-mobile{{ end }}">
                                              {{ if .Params.video}}<i class="fa-solid fa-video fa-2xs sidebar-docs-icon"></i> {{ else }}<i class="fa-solid fa-minus"></i> {{ end }}
                                              <span>{{ .Title }}{{ if .Params.external }}<i class="fa-solid fa-up-right-from-square fa-2xs external-link text-muted"></i>{{ end }}</span>
                                              <p>{{ .Params.Shortblerb }}{{ .Params.Description }}</p>
                                            </a>
                                          </li>
                                          {{ end }}
                                        </ul>
                                      </div>
                                    </div>
{{/* End Offcanvas layers*/}}
                                  {{ else }}
                                  <li class="mobileNav-li">
                                    <a href="{{ .RelPermalink }}" class="{{ if eq .Title $p.Title }}active-mobile{{ end }}">
                                      <i class="fa-solid fa-minus"></i>
                                      <span>{{ .Title }}{{ if .Params.external }}<i class="fa-solid fa-up-right-from-square fa-2xs external-link text-muted"></i>{{ end }}</span>
                                      <p>{{ .Params.Shortblerb }}</p>
                                    </a>
                                    {{ if $active -}}
                                      {{ if not .Params.notoc -}}
                                            <div class="td-toc blog-toc">
                                              {{ .TableOfContents }}
                                            </div>
                                      {{ end -}}
                                    {{ end }}
                                  </li>
                                  {{ end }}
                              {{ end }}
                            </ul>
                            </div>
                            </div>
                        {{ else }}
                        <li class="mobileNav-li">
                          <a href="{{ .RelPermalink }}">
                            <i class="fa-solid fa-minus"></i>
                            <span>{{ .Title }}{{ if .Params.external }}<i class="fa-solid fa-up-right-from-square fa-2xs external-link text-muted"></i>{{ end }}</span>
                            <p>{{ .Params.Shortblerb }}</p>
                          </a>
                          {{ if $active -}}
                            {{ if not .Params.notoc -}}
                                <div class="td-toc blog-toc">
                                  {{ .TableOfContents }}
                                </div>
                            {{ end -}}
                          {{ end }}
                        </li>
                        {{ end }}
                      {{ end }}
                    </ul>
                    </div>
                  </div>
                  {{ else }}
{{/* No Submenus */}}
                  <li class="mobileNav-li">
                    <a href="{{ .RelPermalink }}">
                      <i class="fa-solid fa-minus"></i>
                      <span>{{ $menuTitle }}{{ if .Params.Menu.Main.Params.External }}<i class="fa-solid fa-up-right-from-square fa-2xs external-link text-muted"></i>{{ end }}</span>
                      <p>{{ .Params.Menu.Main.Params.ShortBlerb }}</p>
                    </a>
                  </li>
                  {{ end }}
                {{ end }}
              {{ end }}
          {{ else }}
          <li class="mobileNav-li">
            <a href="{{ .URL }}">
              <i class="fa-solid fa-minus"></i>
              <span>{{ .Name }}{{ if .Params.external }}<i class="fa-solid fa-up-right-from-square fa-2xs external-link text-muted"></i>{{ end }}</span>
              <p>{{ .Params.Shortblerb }}</p>
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    
    </div>
  </div>
  