<div class="alert alert-warning alert-dismissible fade show new-update-bar" role="alert">
    <div class="col">
        <div class="row update-text">
            <span class="h4"><strong>Latest Update:</strong></span><span class="h4">We were at <a href="https://hack-mas.at/">Hack Ma's 2024!</a></span> <span>To see our presentation on building post quantum protocols, <a href="/docs/presentations/hackmas-2024">click here!</a></span>
        </div>
    </div>
    <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>