{{ $icon := .Get "icon" | default "fa-regular fa-language" -}}
{{ $src := .Get "src" | default "img/presentation-screenshots/mrmcd2023.png"}}
<div class="td-card card mb-4 presentation-card">
  {{ with $.Get "header" }}
  <div class="card-header h3 d-flex">
    <div class="col-10">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "header" | markdownify }}
      {{ else }}
        {{ $.Get "header" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
    <div class="col-2 text-muted h6 flex-reverse">
      <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }}">      
        {{ with $.Get "subtitle" }}
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "subtitle" | markdownify }}
        {{ else }}
          {{ $.Get "subtitle" | htmlUnescape | safeHTML }}
        {{ end }}
      {{ end }}</i>
    </div>
  </div>
  {{ end }}
  <div class="card-body">
    {{ with $.Get "title" }}
      <h5 class="card-title h6">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "title" | markdownify }}
        {{ else }}
          {{ $.Get "title" | htmlUnescape | safeHTML }}
        {{ end }}
      </h5>
    {{ end }}
    {{ with $.Inner }}
    <img src="{{ $src | absURL }}" > 
      <p class="card-text">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Inner | markdownify }}
        {{ else }}
          {{ $.Inner | htmlUnescape | safeHTML }}
        {{ end }}
      </p>
    {{ end }}
  </div>
  {{ with $.Get "footer" }}
    <div class="card-footer">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "footer" | markdownify }}
      {{ else }}
        {{ $.Get "footer" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
</div>
